### IntelliJ IDEA ###
.idea
.claude
tmp*
dify/.env
Windows/mysql/*
Linux/mysql/mysql5.7/mysql/data/*
Windows/postgresql/postgresql/*
Windows/postgresql/postgres-data/*
Windows/aria2/config/*
Windows/doris/4.0.5/be/storage/*
Windows/doris/4.0.5/fe/doris-meta/*
Windows/doris/4.0.5/fe/log/*
Windows/doris/4.0.5/be/log/*
Windows/doris/4.0.5/doris-be-4.0.5.tar
Windows/doris/4.0.5/doris-fe-4.0.5.tar
DockerPull.exe
Linux/zookeeper/3.7.0/zookeeper/data/*
Linux/zookeeper/3.7.0/zookeeper/datalog/*
Windows/nginx/nginx/log/*.log
Windows/shenyu/shenyu-admin/logs/*
Windows/shenyu/shenyu-bootstrap/logs/*
Windows/wechat/.xwechat/*
Windows/wechat/xwechat_files/*
Windows/wechat/downloads/*
Windows/shenyu-2.7.0.3/shenyu-admin/logs/*
.gitignore
Windows/shenyu-2.7.0.3/shenyu-bootstrap/logs/*
Windows/nacos/nacos_2.3.2/logs/*
Windows/wechat/clipboard-fix/clip-web/*